*{
    box-sizing: border-box;

}

body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 20px;
}

header{

    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}
nav{
    display: flex;
    flex-direction:row;
    background-color: #333;
   
    
}

nav a{
color: white;
padding: 15px 30px;
text-decoration: none;
text-align: center;

}

.row{

    display: flex;
    flex-wrap: wrap;

}

aside{
    flex: 33px;
    background-color: beige;
    padding: 20px;
    text-decoration: none;
}

section{
    flex: 33px;
    background-color: khaki;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}
article{
    flex: 33px;
    background-color: beige;
    padding: 20px;
    text-decoration: none;
}
body{
    text-decoration: none; 
}
